div.discourse-chart {
  display: flex;
  align-items: center;
  height: 400px;
  overflow: hidden;

  &.is-building {
    visibility: hidden;
  }

  &.is-loading {
    background: $primary-very-low;
  }

  .discourse-chart-error {
    padding: 2em;
    background-color: $danger-low;
    margin: 0;
    color: $danger;
    text-align: center;
  }
}

a.discourse-chart-placeholder {
  padding: 1em;
  text-align: center;
  display: block;
  background: $primary-very-low;
}
